name: CI Retraining Model

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:

    # 1. Checkout Repo
    - name: Checkout repository
      uses: actions/checkout@v3

    # 2. Setup Python
    - name: Setup Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    # 3. Install Dependencies
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow pandas numpy scikit-learn matplotlib seaborn

    # 4. Run MLflow Project
    - name: Run MLflow Project (training)
      working-directory: MLProject
      run: |
        mlflow run .

    # 5. Get Latest run_id
    - name: Get latest MLflow run ID
      id: get_run_id
      run: |
        cd MLProject/mlruns/0
        latest_run=$(ls -t | head -1)
        echo "run_id=$latest_run" >> $GITHUB_OUTPUT

    # 6. Upload MLflow Artifacts to GitHub
    - name: Upload MLflow artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns

    # 7. Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # 8. Build Docker Image from MLflow Model
    - name: Build Docker model
      working-directory: MLProject
      run: |
        MODEL_DIR="mlruns/0/${{ steps.get_run_id.outputs.run_id }}/artifacts/model"
        mlflow models build-docker \
          -m $MODEL_DIR \
          -n ${{ secrets.DOCKERHUB_USERNAME }}/global-accident-ci:latest

    # 9. Push Docker Image
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/global-accident-ci:latest
