name: MLflow CI - Retrain Global Accident Model

on:
  push:
    branches: [ main ]
    paths:
      - 'MLProject/**'
      - '.github/workflows/mlflow-ci.yml'
  workflow_dispatch: {}

env:
  # === DagsHub MLflow Remote Tracking ===
  MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
  MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
  MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}

  # === DockerHub ===
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install mlflow==2.19.0
          pip install scikit-learn pandas numpy dagshub seaborn
          pip install python-dotenv
          
      - name: Set DagsHub Credentials for MLflow
        run: |
          echo "MLFLOW_TRACKING_USERNAME=${{ secrets.DAGSHUB_USERNAME }}" >> $GITHUB_ENV
          echo "MLFLOW_TRACKING_PASSWORD=${{ secrets.DAGSHUB_TOKEN }}" >> $GITHUB_ENV

      - name: Run MLflow Project
        working-directory: ./MLProject
        run: |
          mlflow run . -e main --env-manager=local

      - name: Get Latest MLflow Run ID
        id: get_run_id
        run: |
          RUN_DIR=$(ls -td mlruns/* | head -1)
          RUN_ID=$(basename "$RUN_DIR")
          echo "Latest RUN: $RUN_ID"
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: |
            MLProject/mlruns
            MLProject/artifacts
          if-no-files-found: ignore

      - name: Install Docker SDK
        run: pip install docker

      - name: Build Docker Image
        if: success() && env.RUN_ID != ''
        run: |
          echo "Building Docker image for RUN_ID=${RUN_ID}"
          mlflow models build-docker \
            -m "MLProject/mlruns/${RUN_ID}/artifacts/model" \
            -n "${DOCKERHUB_USERNAME}/global-accident-mlflow:${RUN_ID}"

      - name: Login to DockerHub
        if: success() && env.RUN_ID != ''
        run: echo "${DOCKERHUB_TOKEN}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin

      - name: Tag Docker Image as Latest
        if: success() && env.RUN_ID != ''
        run: |
          docker tag "${DOCKERHUB_USERNAME}/global-accident-mlflow:${RUN_ID}" \
                     "${DOCKERHUB_USERNAME}/global-accident-mlflow:latest"

      - name: Push Docker Images
        if: success() && env.RUN_ID != ''
        run: |
          docker push "${DOCKERHUB_USERNAME}/global-accident-mlflow:${RUN_ID}"
          docker push "${DOCKERHUB_USERNAME}/global-accident-mlflow:latest"
