name: CI Retraining Model

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:

    # 1. Checkout Repo
    - name: Checkout repository
      uses: actions/checkout@v3

    # 2. Setup Python 3.12.7
    - name: Setup Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    # 3. Check Environment
    - name: Check Python version
      run: python --version

    # 4. Install Dependencies (requirements.txt)
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 5. Run MLflow Project
    - name: Run MLflow Project
      working-directory: MLProject
      run: |
        mlflow run . --env-manager=local --nested

    # 6. Get latest MLflow run_id
    - name: Get latest run ID
      id: get_run_id
      run: |
        cd MLProject/mlruns/0
        latest=$(ls -t | head -1)
        echo "run_id=$latest" >> $GITHUB_OUTPUT

    # 7. Upload MLflow artifacts to GitHub
    - name: Upload MLflow artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns

    # 8. Log in to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # 9. Build Docker Model from MLflow
    - name: Build Docker Model
      working-directory: MLProject
      run: |
        RUN_ID="${{ steps.get_run_id.outputs.run_id }}"
        mlflow models build-docker \
          -m "runs:/$RUN_ID/model" \
          -n "${{ secrets.DOCKERHUB_USERNAME }}/global-accident-ci:${RUN_ID}"


    # 10. Push Docker Image
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/accident-model:latest
